<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <!-- <target name="logfile" xsi:type="File" fileName="file.txt" /> -->
        <target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
                layout="${longdate}| ${pad:padding=5:inner=${level:uppercase=true}} | ${message:withexception=true}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
        <target xsi:type="Database"
                name="logdb"
                dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
                connectionString="Data Source=log.db;">
            <commandText>
                insert into Logs (Time, Level, Message, Exception)
                values (@time, @level, @message, @exception);
            </commandText>
            <parameter name="@time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@exception" layout="${exception:format=tostring}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logdb" />
    </rules>
</nlog>